<div style="text-align:center">
    <h1>
        Select your preferred character in {{ title }}!
    </h1>
</div>

<ng-template [ngIf]="characterViewModel.characters.length > 0 " [ngIfElse]="loading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-12 text-center"
                *ngFor="let character of characterViewModel.characters">
                <a [routerLink]="[ '/characterDetail',character.id]">
                    <span class="container">
                        <h2 id="character_nick_name_{{character.id}}" class="text-center">{{character.nickname}}</h2>
                        <img id="character_image_{{character.id}}" class="rounded-circle text-center"
                            src="{{character.img}}" alt="{{character.name}}" width="240" height="240" />
                        <p id="character_name_{{character.id}}" class="text-center">
                            {{character.name}}
                        </p>
                    </span>
                </a>
            </div>
        </div>
        <div class="row">
            <nav aria-label="Pagination" id="pagination">
                <ul class="pagination justify-content-center fixed-bottom">
                    <li class="page-item" [class.active]="characterViewModel.currentPage == pageButton.pageId"
                        *ngFor="let pageButton of characterViewModel.pageButtons">
                        <a id="page{{pageButton.pageNumber}}" class="page-link" href="#"
                            (click)="goToPage(pageButton.pageId)">{{pageButton.pageNumber}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</ng-template>

<ng-template #loading>
    <div class="container">
        <img id="backround_image" src="./assets/background.png" class="img-fluid align-middle" alt="Background image" />
        <div class="row justify-content-center">
            <div class="spinner-border text-secondary spinner" role="status">
                <span class="sr-only" id="loading">Loading...</span>
            </div>
            <span>Loading</span>
        </div>
    </div>
</ng-template>